{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <h1>Dashboards for the Bacalhau Project</h1>
    <p>A series of dashboards for the <a href="https://bacalhau.org">Bacalhau project.</a></p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
    </div>
      <ul>
        <li><a href="/performance">Historical Performance by Builds</a></li>
      </ul>
    </div>
  </div> <!-- row -->
</div>
{% endblock %}
